body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content {
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex: 1;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.scrollable {
	margin-top: 1rem;
	max-width: 100%;
	overflow: auto;
}

thead {
	font-weight: bold;
}

th:nth-child(1) {
	min-width: 120px;
}

th:nth-child(4) {
	min-width: 250px;
}

footer {
	text-align: center;
}

/* Up and Down Arrows */
.descend:after{
	content: "\25B2";
}

.ascend:after{
	content: "\25BC";
}
