/* global defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 11pt Helvetica, Arial;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}

li {
	margin-left: 2em;
}

/* footer */
footer {
	flex: 0 1 auto;
	justify-self: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* central display */
.central {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	min-height: 100vh;
}

@media screen and (min-width: 480px) {
	.central {
		margin: 0 15%;
	}
}

/* panels */
.panel {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* centering */
.centeredPage {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.centeredContent {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rightContent {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.scrollable {
	max-width: 100%;
	overflow: auto;
}

.noPadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Up and Down Arrows */
.descend:after{
	content: "\25B2";
}

.ascend:after{
	content: "\25BC";
}

/* Specific cases */
thead {
	font-weight: bold;
}

th {
	min-width: 50px;
}

th:nth-child(1) {
	min-width: 120px;
}

th:nth-child(4) {
	min-width: 250px;
}
